{% load static %}
<{%static "css/style.css"%}>

<html>

<head>

    <title> Motor calibration </title>
    <link href="{%static "css/style.css"%}" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        let calibrating = false;
        let total_steps = 0;
        function update_steps(){
            $('#total_steps').val(total_steps)
        }
        function reset(){
            calibrating = false;
            $('#calibrating')[0].checked = false
            total_steps = 0
            $('#total_steps').val(0)
            up(1000)
        }
        function up(steps) {
            $.ajax({
                url: '/game/move_up/'+steps,
                async: false,
                success: function () {
                    if (calibrating){
                        total_steps -= steps;
                        update_steps()
                    }
                }
            });
        }
        function down(steps) {
            $.ajax({
                url: '/game/move_down/'+steps,
                async: false,
                success: function () {
                    if (calibrating){
                        total_steps += steps;
                        update_steps()
                    }
                }
            });
        }
        function submit(){
            if(total_steps !== '' && calibrating){
             $.post({
                url: '/game/calibrate/',
                data: JSON.stringify({'total_steps': total_steps}),
                dataType: 'json',
                success: function () {
                    alert('Updated!')
                }
            })
            }
        }
    </script>

</head>

<body>

<div class="wrapper">
    <header class="page-header">
        <h1 style="">Motor calibration</h1>
    </header>
    <div class="content">
        <div class="content-wrap">
            <p>
                Use the following steps to calibrate your motor!
            </p>
            <br/>
            <p>
                Go to upper position <button class="btn" onclick="reset()">Reset</button>
            </p>
            <br/>
            <p>
                <input type="checkbox" id="calibrating" name="calibrating" onclick="calibrating = this.checked"/><label for="calibrating" class="unselectable">Mark when you are ready to calibrate</label>
            </p>
            <br/>
            <p>
                    <span>Go Down as many steps as you need:</span>
                    <button class="btn" onclick="down(1);">1</button>
                    <button class="btn" onclick="down(5);">5</button>
                    <button class="btn" onclick="down(10);">10</button>
            </p>
            <br/>
            <p>
                    <span>To many steps? Go back Up a few:</span>
                    <button class="btn" onclick="up(1);">1</button>
                    <button class="btn" onclick="up(5);">5</button>
                    <button class="btn" onclick="up(10);">10</button>
            </p>
            <br/>
            <p>
                <span>Total steps so far: </span><input type="text" id="total_steps" onchange="total_steps = this.value"/>
            </p>
            <br/>
            <button style="margin-left: 10px" class="btn" onclick="submit()">Save</button>
        </div>
    </div>
</div>

</body>
</html>








